.movies-container {
    padding: 1rem 2rem;
    cursor: pointer;
}

mat-card{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

mat-card-header {
    justify-content: center;
    height: 70px;
}

mat-card-title {
    font-size: 1.5rem;
    color: #ffffff;
}

mat-card-subtitle {
    color: #dadada;
    font-size: .8rem;
}

mat-card > img {
    width: 100%;

}

mat-card-actions {
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}
  
mat-icon {
    color: rgb(161, 7, 7);
}