$base-color:#00838f;;
$primary-color: #fff;

.logo {
  width: 200px;
  padding: 2px;
  background-color: transparent;
}
  
mat-toolbar {
  min-height: 70px;
  background: $base-color;
  color: $primary-color;
  padding: 0 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.nav-item {
  font-size: 1.6rem;
}

.nav-item:active {
  color: black;
}

/* nav bar item hover */
.nav-item:before, .nav-item:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px;
  content: '';
  background: #FFF;
  transition: all 0.3s;
}

.nav-item:before {
  left: 0px;
  top: 0px;
}

.nav-item:after{
  right: 0px;
  bottom: 0px;
}

.nav-item:hover:before, .nav-item:hover:after {
  opacity: 1;
  width: 100%;
}

.menu-side {
  margin-top: 10px;
  color: $primary-color;
}

.side-menu-container {
  background-color: $base-color;
  width: 150px !important;
  color: $primary-color;
}

.nav-item-button {
  text-align: left;
  mat-icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .nav-item {
    width: 100%;
    align-items: center;
  }
  .nav-item:before, .nav-item:after {
    height: 0px;
  }
}