$background-color1: #26c6da;
$background-color2: #e0f7fa;
$primary-color: #fff;
$primary-text-color: #00838f;

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: linear-gradient(to top, $background-color1 10%, $background-color2 100%);
}

.login-card {
  text-align: center;
  background-color: $primary-color;
  border-radius: 10px;
  padding: 5rem;
}

.login-title {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: $primary-text-color;
  font-weight: 800; 
}

.action-btn{
  padding: .5rem 2rem;
}




