<div class="container">
  <div class="login-card">
    <h1 class="login-title">
      Welcome to myFlix!
    </h1>
    <!-- adding click event on signup button  -->
    <button
      mat-raised-button
      class="action-btn"
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      class="action-btn"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
      color="primary"
    >
      Login
    </button>
  </div>
  <aside>

  </aside>
</div>